### Question 1

Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

### Solution

In [1]:

my_string = "Hello, world!"
my_list = [1, 2, 3, "four", "five"]
my_float = 3.14159
my_tuple = (10, 20, 30, 40, 50)

### Question 2

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

### Solution

In [3]:

var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python']
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

### Question 3

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

### Solution

(i) The "/" operator is used for division in most programming languages. It divides the value on the left-hand side by the value on the right-hand side and returns the quotient as the result.

In [4]:
# Example: 
a = 10
b = 3
result = a / b

print(result)

3.3333333333333335

(ii) The "%" operator is known as the modulo operator. It calculates the remainder of the division between two numbers. It returns the remainder as the result.

In [5]:
# Example:
a = 10
b = 3
result = a % b

print(result)

1

(iii) The "//" operator is called the floor division or integer division operator. It performs division similar to the "/" operator, but it returns the quotient as an integer value, rounding down to the nearest whole number.

In [6]:
# Example:
a = 10
b = 3
result = a // b

print(result)

3

(iv) The "**" operator is used for exponentiation or raising a number to a power. It takes the number on the left-hand side as the base and the number on the right-hand side as the exponent.

In [7]:
# Example:
a = 2
b = 3
result = a ** b

print(result)

8

### Question 4

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

### Solution

In [9]:
List = [1,2,3,4,5,'Nasir',['Nasir','Ali'],3.14,(5,6),{'a':1,'b':2}]

for i in List:
    print('The element is ',i,' and its data type is ',type(i))

The element is  1  and its data type is  <class 'int'>
The element is  2  and its data type is  <class 'int'>
The element is  3  and its data type is  <class 'int'>
The element is  4  and its data type is  <class 'int'>
The element is  5  and its data type is  <class 'int'>
The element is  Nasir  and its data type is  <class 'str'>
The element is  ['Nasir', 'Ali']  and its data type is  <class 'list'>
The element is  3.14  and its data type is  <class 'float'>
The element is  (5, 6)  and its data type is  <class 'tuple'>
The element is  {'a': 1, 'b': 2}  and its data type is  <class 'dict'>

### Question 5

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

### Solution

In [10]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

count = 0  # Variable to count the number of divisions

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"Number A is divisible by B {count} times.")
else:
    print("Number A is not divisible by B.")

Number A is divisible by B 1 times.

### Question
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

### Solution

In [ ]:
# Creating a list of 25 integers
data_list = [9, 5, 12, 18, 7, 21, 16, 3, 8, 14, 27, 6, 10, 22, 30, 11, 25, 33, 15, 4, 20, 17, 24, 36, 13]

# Iterating through each element in the list
for num in data_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

### Question
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

### Solution

In programming, mutable and immutable are two fundamental concepts related to data types.

Immutable data types are those whose values cannot be changed after they are created. If you want to modify an immutable object, you need to create a new object with the desired changes. Examples of immutable data types include:

1. Strings: Once a string is created, you cannot modify its characters individually. However, you can create a new string by concatenating or slicing existing strings.

```python
string = "Hello"
new_string = string + " World"
print(new_string)  # Output: "Hello World"
```

2. Tuples: Tuples are ordered, immutable collections of objects. Once a tuple is created, you cannot modify its elements individually. However, you can create a new tuple by concatenating or slicing existing tuples.

```python
tuple1 = (1, 2, 3)
tuple2 = tuple1 + (4, 5)
print(tuple2)  # Output: (1, 2, 3, 4, 5)
```

On the other hand, mutable data types are those whose values can be changed after they are created. You can modify mutable objects directly without creating new objects. Examples of mutable data types include:

1. Lists: Lists are ordered, mutable collections of objects. You can modify the elements of a list directly by assigning new values or using list methods.

```python
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]
```

2. Dictionaries: Dictionaries are mutable key-value pairs. You can modify the values associated with specific keys in a dictionary.

```python
my_dict = {"name": "John", "age": 25}
my_dict["age"] = 30
print(my_dict)  # Output: {'name': 'John', 'age': 30}
```

In summary, mutable data types allow in-place modifications to their values, while immutable data types require creating new objects with the desired changes.